<h2> Most recent lists </h2>

<table>
<thead>
    <tr>
      <th>Title</th>
      <th>Categories</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="recent-list-results">
    <% @recent_lists.each do |list| %>
      <tr>
        <td><%= list.title %></td>
        <td>
          <% list.categories %>
          <% list.category_ids.each do |c| %>
            <%= Category.find(c).title %>
          <% end %>
        </td>
        <td><%= link_to 'Show', list %></td>
        <td><%#= link_to 'Edit', edit_list_path(list) %></td>
        <td><%#= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</tbody>
</table>